# Python: 
# -------

# Ignore the Python virtual environment
.venv

# Project outputs:
# ----------------

# Ignore the simulation and data analysis outputs
output/
output_test/
external_variables/data/
generated_data/
# MATLAB:
# -------

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

external_variables/output_50days/graphs/external_variables_training_smoothed.png
external_variables/output_50days/graphs/external_variables_testing_smoothed.png
external_variables/data_pieter/external_variables_training.mat
external_variables/output_50days/data/external_variables_testing.mat
external_variables/output_50days/data/external_variables_training.mat
external_variables/output_50days/graphs/external_variables_testing.png
external_variables/output_50days/graphs/external_variables_training.png
external_variables/data/external_variables_testing.mat
external_variables/data/external_variables_testing.mat

